{% extends "dashboard.html" %}

{% block main %}

  
<div class="row">


  {%if cantidad == 1%}
    <h5 class="center">There is {{cantidad}} user</i></h5>
  {%else%}
    <h5 class="center">There are {{cantidad}} users</i></h5>

  {%endif%}

  <a href="#" class="btn green right">Export to Excel</a>
  <br>
  <br>
  {%if users%}
  {%for u in users%}
  
  <div class="col s12 m6 ">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s3">
            <img src="{{u.pp.url}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
          </div>
          <div class="col s9">

            <h5 class="truncate">{{u.first_name}} {{u.last_name}}</h5>
            
            <a href ="/profile/{{u.id}}"class="waves-effect    white  z-depth-1 black-text btn">View profile</a>

          </div>
        </div>
      </div>


  </div>

  {%endfor%}
  {%endif%}
  
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="/signup" class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    
  </div>
</div>



{% endblock%}
