{% extends "dashboard.html" %}

{% block main %}

  
<div class="row">

     <h3 class="center"><span>Dashboard</span></h3>

    <div class="col s12 l7 card blue white-text center">
      <h5><span>Users registed: {{total}}</span></h5>
      <canvas id="canvas" ></canvas>
      
    </div>

    <div class="col s12 l4  center">
      
      <div class="card blue-grey white-text ">
        <div class="card-content">
          <div class="card-title">
          <i class="material-icons">supervisor_account</i>new users today:
          <br>
          <b>{{usuarios_hoy}}</b>
          <br>
          </div>

        </div>
      </div>
    
    </div>

    <div class="col s12 l4  center">
      
      <div class="card blue-grey darken-3 white-text ">
        <div class="card-content">
          <div class="card-title">
          
          Last user registed:<b> <a href="/profile/{{last.id}}">{{last.first_name}} {{last.last_name}}</a></b>
          <br>

          </div>

        </div>
      </div>
    
    </div>
    

    

    <div class="col s12   center">
      
      <div class="card cyan darken-4 white-text">
        <div class="card-content">
          <div class="card-title">
            <span>Last Winners</span>
          <br>
          </div>
          
          <table class="borded">
            <thead>
              <tr>
                  <th data-field="id">Name</th>
                  <th data-field="price">Subasta</th>
                  <th data-field="price">Date</th>
                  <th data-field="price">Cuantity</th>
                  <th data-field="price">Cobrado</th>
              </tr>
            </thead>

            <tbody>
              
                {%for g in ganadores%}
                <tr>
                  <td> <a href="/profile/{{g.usuario.id}}">{{g.usuario.first_name}} {{g.usuario.last_name}}</a></td>

                  <td><a href="/details/{{g.subasta.id}}">{{g.subasta.nombre}}</a></td>
                  <td>{{g.date}}</td>
                  <td>{{g.cantidad}}</td>
                  {%if g.cobrado%}
                  <td>Yes</td>
                  {%else%}
                  <td>No</td>
                  {%endif%}
                </tr>
                {%endfor%}

              
              
            </tbody>
          </table>
          
        </div>
      </div>
    
    </div>

    <div class="col s12 l7 card orange white-text center">
      <h5><span>Donations</span></h5>
      <canvas id="canvas1" ></canvas>
      
    </div>
    <div class="col s12 l4  center">
      
      <div class="card green white-text ">
        <div class="card-content">
          <div class="card-title">
          $ Total Donations:
          <br>
          <b>${{total_donaciones}}</b>
          <br>
          last month: ${{last_month_donaciones}}
          </div>

        </div>
      </div>
    
    </div>
    <div class="col s12 l4  center">
      
      <div class="card teal white-text ">
        <div class="card-content">
          <div class="card-title">
          <i class="material-icons">trending_up</i>Today Profit:
          <br>
          <b>$100</b>
          <br>
          </div>

        </div>
      </div>
    
    </div>

    <div class="col s12 l4  center">
      
      <div class="card blue-grey darken-3 white-text  ">
        <div class="card-content">
          <div class="card-title">
          Last donation of 
          <br>
          <b><a href="/profile/{{last_donacion.usuario.id}}">{{last_donacion.usuario}}</a></b>
          <br>
          in the subasta 
          <b><a href="/details/{{last_donacion.piramide.subasta.id}}">{{last_donacion.piramide.subasta.nombre}}</a></b>
          </div>

        </div>
      </div>
    
    </div>
    <div class="col s12 l7 card blue-grey lighten-2 white-text center">

      <h5 class="card-title"><span>Gender</span></h5>
      <div class="row">

        <div class="col s9">
          <canvas id="canvas2" ></canvas>
        </div>

        <div class="col s3">

          <h5 class="light-blue-text text-darken-3">Male: <b>{{male}}</b></h5><h5 class="green-text text-darken-3"> Female: <b>{{female}}</b> 
       </h5> <h5 class="red-text text-darken-1">Other: <b >{{other}}</b></h5>

       </div>
      </div>
    </div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a href="/signup"class="btn-floating blue"><i class="material-icons">account_circle</i></a></li>
      
      <li><a class="btn-floating green"><i class="material-icons">assignment</i></a></li>
      
    </ul>
  </div>

  <script>
  
  var data = {
      labels: ["January", "February", "March", "April", "May", "June", "July","Agosto","septiembre","octubre","noviembre","diciembre","January"],
      datasets: [
          {
              label: "My First dataset",
              fillColor: "#90caf9",
              strokeColor: "#fff",
              pointColor: "#2196f3",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: [
              {% for i in fechas%}
                {{i}},

              {%endfor%}
              ]
          },
          
      ]
  };
 var data1 = {
      labels: ["January", "February", "March", "April", "May", "June", "July","Agosto","septiembre","octubre","noviembre","diciembre","January"],
      datasets: [
          {
              label: "My First dataset",
              fillColor: "#ffcc80",
              strokeColor: "#fff",
              pointColor: "#ef6c00",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: [{% for i in donaciones%}{{i}},
              {%endfor%}]
          },
          
      ]
  };

  var data2 = [
    {
        value: {{male}},
        color:"#039be5",
        highlight: "#0277bd",
        label: "Male"
    },
    {
        value: {{female}},
        color: "#4caf50",
        highlight: "#2e7d32",
        label: "Female"
    },
    {
        value: {{other}},
        color: "#e53935",
        highlight: "#c62828",
        label: "Other"
    }
  ]


  window.onload = function(){
    var ctx = document.getElementById("canvas").getContext("2d");
    
    window.myBar = new Chart(ctx).Line(data, {
      scaleFontColor: "#ffffff" ,
      scaleShowVerticalLines: false,
      scaleGridLineColor : "#fafafa",
      responsive : true
    });
    var ctx1 = document.getElementById("canvas1").getContext("2d");
    
    window.myBar1 = new Chart(ctx1).Line(data1, {
      scaleFontColor: "#ffffff" ,
      scaleShowVerticalLines: false,
      scaleGridLineColor : "#fafafa",
      responsive : true
    });
    
    var ctx2 = document.getElementById("canvas2").getContext("2d");
    
    window.myBar2 = new Chart(ctx2).Pie(data2, {
      scaleFontColor: "#ffffff" ,
      scaleShowVerticalLines: false,
      scaleGridLineColor : "#fafafa",
      responsive : true
    });
    
  }

  </script>
</div>



{% endblock%}
