    <!-- Header -->
{% extends "base.html" %}

{% block content %}

  {% load staticfiles %}




  <div class="row container">


<!--
      <div class="col s3  hide-on-med-and-down">


        <div class="row ">
          <div class="col card center s12 grey lighten-5  z-depth-1  " >
          <br>
            {% if user.is_authenticated %}
            <img class="circle responsive-img"  src="{% static 'trips/img/foto.jpg'%}">
            <h5>{{user.usuario.first_name}}</h5>

            <ul>
              <li><a href="#">trips points</a></li>
              <li><a href="#">trips points</a></li>
              <li><a href="#">trips points</a></li>
            </ul>

            {%else%}
            <img class="circle responsive-img"  src="{% static 'trips/img/foto.jpg'%}">
            <h5>Bienvenido</h5>


            {%endif%}
          </div>
        </div>
      </div>

-->
      <div class="col s12  ">
        <!-- Teal page content  -->

          <div class="row">

          {%if size == 0%}
            <h5>{{size}} results for <i> {{search_string}}</i></h5>
          {%elif size == 1%}
            <h5>Only {{size}} result for <i> {{search_string}}</i></h5>
          {%else%}
            <h5>Only {{size}} results for <i> {{search_string}}</i></h5>

          {%endif%}

          {%if objects%}
          {%for o in objects%}

            {%if o.first_name%}
            <div class="col s12 m6 ">


                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s4 l3">
                      <img src="{{o.pp.url}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s8 l9">

                      <h5>{{o.first_name}} {{o.last_name}}</h5>
                      {%if not o.follower == user.usuario%}

                      <a href="/follow/{{o.id}}"class="waves-effect    blue  z-depth-1 white-text btn">Follow</a>
                      {%endif%}
                      <a href ="/profile/{{o.id}}"class="waves-effect    white  z-depth-1 black-text btn">Profile</a>

                    </div>
                  </div>
                </div>


            </div>
            {%else%}
              <div class="col s12 m6 l4  " >
                <div class="card hoverable">
                  <div class="card-image">
                    <img src="{% static 'trips/img/proyectos/seaturtle.jpg'%}">
                    <span class="card-title">{{o.nombre}}</span>
                  </div>
                  <div class="card-content">
                    <p>{{o.descripcion}}</p>
                    <p>Precio: {{o.precio}}</p>
                  </div>
                  <div class="card-action">
                    <a href="/details/{{o.id}}">Ver mas...</a>
                  </div>
                </div>
              </div>


            {%endif%}

          {%endfor%}
          {%endif%}



          </div>






      </div>

  </div>

{% endblock%}
