{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
<div class="row container">
  <div class=" col s12 l3 offset-s2">
    <div class="card col s12">
      <ul >
        <h5>Settings</h5>
        <li ><a href="/settings">General</a></li>
        <li ><a href="profile">Profile</a></li>
      </ul>
    </div>
  </div>

  <div class="col s12  l7">



    <div class="card  col s12 lighten-4">
      <form class="col s12" action="{% url 'trips.views.Settings_gen'%}"
            method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">



          <br>
          <h5 class="center">General</h5>
          {{ form.non_field_errors }}

          {%if form.first_name.errors %}
            <p>First name required</p>
          {%endif%}
          {%if form.last_name.errors %}
            <p>Last name required</p>
          {%endif%}
          {%if form.email.errors %}
            <p>email required</p>
          {%endif%}
          {%if form.pp.errors %}
            <p>Picture is required required</p>
          {%endif%}


          <div class="input-field col s6">

            <label for="{{ form.first_name.id_for_label }}">First Name</label>
            {{ form.first_name }}
          </div>
          <div class="input-field col s6">
            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
            {{ form.last_name }}
          </div>
          <div class="input-field col s12">

            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
          </div>
          <div class="input-field col s12">
            <input id="icon_prefix"name="password" type="password" class="validate">
            <label for="{{ form.password.id_for_label }}">New password</label>
            {{ form.password }}
          </div>
          <div class="input-field col s12">
            {{ form.subject.errors }}
            <input  type="date" name="birth"  class="datepicker">
            <label for="{{ form.subject.id_for_label }}">Birth</label>
          </div>
          <div class="col s3">
            <img src="{{user.usuario.pp.url}}" alt="" class="circle responsive-img brand-logo" >
          </div>


          <div class="file-field input-field col s12">

            <div class="btn blue">
              <span>Picture</span>
              {{form.pp}}
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <div class="input-field col s12">
            {{ form.subject.errors }}
            <select name="gender">
              <option value="" disabled selected>Select</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
              <option value="other">Other</option>


            </select>
            <label>Gender</label>
          </div>

          <div class="input-field center col s12">
            <button class="btn-large waves-effect blue waves-light" type="submit" name="action">Update
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>



  <!--  Modals-->


  {% endblock%}
